@import "bulma.css";

@font-face {
    font-family: 'Poppins';
    src: url(assets/Fonts);
}

.custom {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.custom-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, auto));
    background: black;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}

.custom-footer-content h4 {
    color: white;
    margin-bottom: 1.5rem;
    font-size: 20px;

}

.custom-footer-content li {
    margin-bottom: 16px;

}

.custom-footer-content li a {
    display: block;
    color: white;
    font-size: 15px;
    font-weight: 400;
    transition: all.40s ease;
}

.custom-footer-content li a:hover {
    transform: translateY(-3px) translateX(-5px);
    color: white;

}

.custom-icons a {
    display: inline-block;
    font-size: 22px;
    color: #FFF8F8;
    margin-right: 17px;
    transition: all .40s ease;
}